html, body {
  padding: 0;
  margin: 0;
  font-family: Calibri, sans-serif; /* Specific font added */
  /* display: flex;

  justify-content: center;

  align-items: center; */
}

canvas {
  display: block;
}

 .centered {
  text-align: center;
  align-items: center;
} 

/* / */

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.5);
  padding: 10px 0;
  text-align: center;
}

/* Style for the menu items */
.bottom-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bottom-menu li {
  display: inline;
  font-size: 26px; /* Specific font size added */
}

.bottom-menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bottom-menu li a:hover {
  background-color: #555;
}

